In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Makes sure our all data is numerical in machine learning

In [4]:
df = pd.read_csv('C:\\Users\\shubh\\ML course\\data\\car-sales-extended.csv')

In [5]:
df.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [6]:
# so we can see some of data is in string
# so we need to convert this data

In [11]:
len(df)

1000

In [13]:
df.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [15]:
# lest divide data into feature and prediction
X = df.drop('Price',axis=1)
y = df['Price']

In [17]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [19]:
y.head()

0    15323
1    19943
2    28343
3    13434
4    14043
Name: Price, dtype: int64

In [21]:
# split data into training and split
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2 )

In [25]:
# bulid machine lerning model
from sklearn.ensemble import RandomForestRegressor

In [27]:
model = RandomForestRegressor()

In [29]:
model.fit(X_train,y_train)
model.score(X_test,y_test)

ValueError: could not convert string to float: 'Nissan'

In [31]:
# so we can see we error i.e our machine lerning model will not do on string value
# lets find how we can do it..

In [33]:
# turn categories into numbers
from sklearn.preprocessing import OneHotEncoder

In [35]:
from sklearn.compose import ColumnTransformer
categorical_features = ['Make','Colour','Doors']

In [37]:
one_hot = OneHotEncoder()
transformer = ColumnTransformer(transformers=[('one_hot', one_hot, categorical_features)], remainder='passthrough')

In [43]:
transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [45]:
pd.DataFrame(transformed_X).head()
# so we can our data is numerical

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [49]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [51]:
# anather way we can do it

In [53]:
dummies = pd.get_dummies(df[['Make','Colour','Doors']])
dummies
# we can see the value is True and Flase by deflute
# lets conveted into int

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4,False,False,False,True,True,False,False,False,False
996,3,False,False,True,False,False,False,False,False,True
997,4,False,False,True,False,False,True,False,False,False
998,4,False,True,False,False,False,False,False,False,True
999,4,False,False,False,True,False,True,False,False,False

In [55]:

dummies = pd.get_dummies(df[['Make','Colour','Doors']]).astype(int)
dummies
# wow we our data is now is zero and one lets fit the model

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [57]:
# lets refit the model

In [59]:
np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(transformed_X,y,test_size=0.2)

In [61]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [63]:
model.score(X_test,y_test)

0.3235867221569877

In [65]:
#lets do some another task

# What if our dataset contain meassing value ?

In [68]:
# two way we can deel with messing our data
# 1. Fill them into missing some value
# 2. remove the sample with data alltogehter

In [70]:
# import car sales missing data
car_sales_missing = pd.read_csv('C:\\Users\\shubh\\ML course\\data\\car-sales-extended-missing-data.csv')

In [72]:
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [74]:
# lets see the black value in our data set
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [76]:
# Create X and y
X = car_sales_missing.drop('Price',axis=1)
y = car_sales_missing['Price']

In [78]:
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

In [80]:
y.head()

0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
Name: Price, dtype: float64

In [193]:
# lets try to convert it into number

In [82]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer(transformers=[('one_hot', one_hot, categorical_features)], remainder='passthrough')

# Corrected the typo from 'trasformer' to 'transformer'
transformed_X = transformer.fit_transform(X)

In [84]:
# after run it it will show input cantain NAN

In [86]:
car_sales_missing
#996	NaN	White	155144.0	3.0	5716.0

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [199]:
# how deal it NAN messing value

In [88]:
#car_sales_missing['Doors'].value_counts()

Option 1: Fill messing data with Pandas

In [91]:
# Fill missing values in categorical columns with a more descriptive placeholder
car_sales_missing['Make'].fillna('Unknown Mak', inplace=True)
car_sales_missing['Colour'].fillna('Unknown Colour', inplace=True)

# Fill missing values in numerical columns with the mean or a default value
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)
car_sales_missing['Doors'].fillna(4, inplace=True)

C:\Users\shubh\AppData\Local\Temp\ipykernel_12264\156698762.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing['Make'].fillna('Unknown Mak', inplace=True)
C:\Users\shubh\AppData\Local\Temp\ipykernel_12264\156698762.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing['Colour'].fillna('Unknown Colour', inplace=True)
C:\Users\shubh\AppData\Local\Temp\ipykernel_12264\156698762.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)
C:\Users\shubh\AppData\Local\Temp\ipykernel_12264\156698762.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  car_sales_missing['Doors'].fillna(4, inplace=True)

In [93]:
# chake it agin
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [95]:
#  why this price column is shown 50 missing value  
# wo we can't deal the y lable value
# lets deal with it

In [103]:
# remove rows with car value
car_sales_missing.dropna(inplace=True)

In [105]:
# lest cjake we remove missing value or not
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [107]:
# but we can see we have loss 50 our sample
len(car_sales_missing)

950

In [109]:
# lets build model
X = car_sales_missing.drop("Price",axis=1)
y = car_sales_missing['Price']

In [111]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer(transformers=[('one_hot', one_hot, categorical_features)], remainder='passthrough')

# Corrected the typo from 'trasformer' to 'transformer'
transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

# Fill missing value using scikit-lern

In [114]:
car = pd.read_csv('C:\\Users\\shubh\\ML course\\data\\car-sales-extended-missing-data.csv')

In [116]:
car.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [118]:
car.isna().sum()
# we can see our dataset contain fowlling missing value

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [120]:
# lets drop lable 
car.dropna(subset='Price',inplace=True)
car.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [122]:
# split data int X, and y
X = car.drop('Price',axis=1)
X.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White        35431.0    4.0
1     BMW   Blue       192714.0    5.0
2   Honda  White        84714.0    4.0
3  Toyota  White       154365.0    4.0
4  Nissan   Blue       181577.0    3.0

In [124]:
y = car['Price']
y.head()

0    15323.0
1    19943.0
2    28343.0
3    13434.0
4    14043.0
Name: Price, dtype: float64

In [126]:
# lets fill missing value with scikit-learn

In [128]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# fill categorical value with missing and numerical value with mean
cat_imputer = SimpleImputer(strategy='constant',fill_value='missing')
door_imputer = SimpleImputer(strategy='constant',fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

# define column 
cat_features = ['Make','Colour']
door_features = ['Doors']
num_features = ['Odometer (KM)']

# create imputer 
imputer = ColumnTransformer([
    ('cat_imputer',cat_imputer,cat_features),
    ('door_imputer',door_imputer,door_features),
    ('num_imputer',num_imputer,num_features)
])

# transformed the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [130]:
car = pd.DataFrame(filled_X,columns=['Make','Colour','Doors','Odometer (KM)'])
car.head()

     Make Colour Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [132]:
car.isna().sum()
# we can we dont have any missing value in our data set

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [138]:
# lets conveted into number value
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot', one_hot, categorical_features)], remainder='passthrough')

# Corrected the typo from 'trasformer' to 'transformer'
transformed_X = transformer.fit_transform(car)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [140]:
# now our data has number and no misiing value 
# Lets fit value
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(transformed_X,y,test_size=0.2)

In [144]:
model = RandomForestRegressor()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.21507786993302203